<html>
	<head>
    <title>TfL Countdown</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/mobile.css" media="only screen and (max-device-width: 480px)" type="text/css"/>
    <meta name="viewport" content="width=device-width; initial-scale=0; maximum-scale=0;">
	</head>
  <body>
        
    <div id="container">
        
    <h1>Buses <span class="lite">from Barnes</span></h1>
    
      <!--<pre><%= @data %></pre>-->

      <table>
      	<% @buses.each do |bus| %>
      	<tr>
      		<td><%= bus["routeName"] %></td>
      		<td><%= bus["destination"] %></td>
      		<td><%= bus["estimatedWait"] %></td>
      		<td><%= bus["scheduledTime"] %></td>
      	</tr>
      	<% end %>
      </table>
    
    </div>
  
  </body>
</html>