<% content_for :title do %>Stop <%= @stop %>: <%= @route %> | London Buses<% end %>
<% content_for :page_title do %>Stop <%= @stop %>: <%= @route %><% end %>

<div class="nine columns alpha grey-mobile">

	<h4>Stop <%= @stop %>: <%= @route %></h4>
	<hr class="small"/>
	
	<div class="info">Filter applied. <a href="/stop/<%= @stop %>">Return to stop</a>?</div>

  	<table>
  		<% @buses.each do |bus| %>
  	  <tr class="in-<%= bus["estimatedWait"].gsub(" ", "-") %> cancelled<%= bus["isCancelled"] %>">
  		  <td class="route" width="1"><%= bus["routeName"] %></td>
  		  <td class="destination"><%= bus["destination"] %></td>
  		  <td class="wait"><%= bus["estimatedWait"] %></td>
  		  <td class="time"><%= bus["scheduledTime"] %></td>
    	</tr>
    	<% end %>
    </table>
	

</div>
      
<div class="seven columns omega">

  <h4>Service Disruptions</h4>
  <hr/>
	
  <ul class="tabs">
		<li><a class="active" href="#critical">Critical</a></li>
		<li><a href="#important">Important</a></li>
		<li><a href="#information">Information</a></li>
	</ul>
	
  <ul class="tabs-content">
		<li class="active" id="critical"><%= @data["serviceDisruptions"]["criticalMessages"] %></li>
		<li id="important"><%= @data["serviceDisruptions"]["importantMessages"] %></li>
		<li id="information"><%= @data["serviceDisruptions"]["infoMessages"] %></li>
	</ul>
  
</div>