<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>Stop <%= @stop %></title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="/stylesheets/base.css">
	<link rel="stylesheet" href="/stylesheets/skeleton.css">
	<link rel="stylesheet" href="/stylesheets/layout.css">
  <link rel="stylesheet" href="/stylesheets/custom.css">
	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
</head>
<body>
	
	<header>
		<div class="container">
			<div class="sixteen columns">
				<a href="/">London Buses</a>
			</div>
		</div>
	</header>

    <div class="container">
		
		<div id="page-header" class="clearfix">
  		<div class="thirteen columns">
    	  <h3 class="remove-bottom">Buses <span class="lite">from <%= @stop %></h3>
  		</div>
  		<div class="three columns">
        <% if @is_favourite %>
      		<a class="full-width button" href="/stop/<%= @stop %>/favourite">Remove Favourite</a>
        <% else %>
  	  		<a class="full-width button" href="/stop/<%= @stop %>/favourite">Add Favourite</a>
          <% end %>
  		</div>
		</div>
   
    <div class="sixteen columns">

      <div class="nine columns alpha grey-mobile">
        <h4>Countdown</h4>
        <hr/>
        <table>
        	<% @buses.each do |bus| %>
        	<tr class="in-<%= bus["estimatedWait"].gsub(" ", "-") %> cancelled<%= bus["isCancelled"] %>">
        		<td><a href="/stop/<%= @stop %>/<%= bus["routeName"] %>"><%= bus["routeName"] %></td>
        		<td><%= bus["destination"] %></td>
        		<td align="right"><%= bus["estimatedWait"] %></td>
        		<td align="right"><%= bus["scheduledTime"] %></td>
        	</tr>
        	<% end %>
        </table>
        <h4 class="add-top">Routes</h4>
        <hr/>
        <% @stop_routes.each do |route| %>
        <a href="/stop/<%= @stop %>/<%= route %>" class="button"><%= route %></a>
        <% end %>
      </div>
      
      <div class="seven columns omega">
        <h4>Service Disruptions</h4>
        <hr/>
    		<ul class="tabs">
    			<li><a class="active" href="#critical">Critical</a></li>
    			<li><a href="#important">Important</a></li>
    			<li><a href="#information">Information</a></li>
    		</ul>
    		<ul class="tabs-content">
    			<li class="active" id="critical">
    			  <% if @data["serviceDisruptions"]["criticalMessages"].empty? %>
              <p>Nothing to report.</p>
            <% else %>
              <%= @data["serviceDisruptions"]["criticalMessages"] %>
            <% end %>
    			</li>
    			<li id="important"><%= @data["serviceDisruptions"]["importantMessages"] %></li>
    			<li id="information"><%= @data["serviceDisruptions"]["infoMessages"] %></li>
    		</ul>
      </div>    
    </div>
      
  </div>
  
  <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
  <script src="/javascripts/tabs.js"></script>
  
</body>
</html>
